<%- include('partials/header') -%>

<h1 class="logo">skies</h1>

<img class="background-picture" src="<%= spaceData.url  %>" alt="">
<p>
</p>


<section class="explanation-screen-container">
  <section class="explanation-screen">
    
    <h3><%= spaceData.title  %></h3>    <hr>


    <p><%= spaceData.explanation %></p>

  </section>

</section>

<section class="front-glass">
  

</section>

<section class="info-panel">
      <section class="info-btn">
        <h2>
               i
        </h2>
        
      </section>
</section>


<%- include('partials/footer') -%>
